



/* elements */

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'Biryani';
  color: #363636;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  font: rebeccapurple;
  font-style: oblique<9deg>;
}


main {
  display:inline-block;
  width: 300px;
  overflow: auto;
}

h1 {
  margin: auto;
  padding: auto;
}

h5 {
  text-transform: uppercase;
}

img.focus-custom-icon {

}



/* classes */

.focus-custom-icon {
width: 85px;
height: 105px;
}

.reg-custom-icon {
  width: 55px;
  height: 85px;
}

.sml-custom-icon {
  width: 45px;
  height: 75px;
}

.feature-tile {
  height: 50px;
  width: 100px;
  margin: 10px;
  background-color: rebeccapurple;
  display:inline-block;
  border-radius: 3px;
}

.account-tile {
  height: 25px;
  width: 125px;
  border-radius: 3px;
  display: inline-block;
}

.custom-blue-button {
  height: 30px;
  width: 150px;
  background-color: pink;
  border-radius: 15px;
}

/* specific id's */

#vertical-navbar {
  width: 15em;
  display: inline-block;
  overflow: auto;
  background-color: grey;
  vertical-align: middle;
}

#banner-idea-1 {
  background-color: skyblue;
  display: block;
  width: 250px;
  /* animation: disappearSomehow onclick */
}

#recent-transactions-table {
  background-color: green;
  float: right;
  display: inline-block;
}
