

/* elements */
html {
  height: 100%;
}
body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #cccccc, #F5F5F5);
  /* background-image: url('/assets/laptop-comp.png'); */
  font-family: 'Biryani';
  font-weight: 400;
  color: #363636;
  display: inline-block;
}


a:link, a:visited {
  text-decoration: none;
}

a:hover {
  font: rebeccapurple;
  font-style: oblique<9deg>;
}

main {
  width: 100em;
}

body {
font-family: , sans-serif;
}

aside {
  float: right;
}

h1 {
  margin: 1em;
  padding-left: 5em;
}

h4 {
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
}

p {
  font-size: 1.8em;
  font-weight: 300;
}


/* classes */

.x-focus-custom-icon {
width: 9.2em;
margin-top: 0;
padding: 0;
margin-left: -1em;
transform: translate(1.3em, 2em);
transition: 1s;
}

.x-focus-custom-icon:hover {
  border-style: solid;
  border-width: 2em;
  /* border-image: radial-gradient(rgba(66,0,124,0),#42007c); */
  box-sizing: border-box;
  background-color: rebeccapurple;

}

.x-main-page-area {
 height:100%;
 display: inline-block;
}

.x-main-section {
  width: 50em;
  height: 100%;
  background-color: #dedede;
  display: inline-block;
}

.x-reg-custom-icon {
  background-color: inherit;
  width: 5.5em;
  padding: 2em .3em;;
  display: block;
  transition: .5s;
  float: left;
}

.x-reg-custom-icon:hover {
  border-left-width: .8em;
  border-left-color: #1BA3BA;
  border-left-style: solid;
}

.x-sml-custom-icon {
  width: 4.5em;
}

.x-feature-tile {
  width: 15em;
  margin: 1em;
  background-color: #f5f5f5;
  display: inline-block;
  border-radius: .3em;
}

.x-account-tile {
  width: 12.5em;
  margin: 1em;
  padding: 1em;
  border-radius: .3em;
  display: block;
}

.x-custom-blue-button {
  width: 15em;
  padding-bottom: 3.5em;
  background-color: #1BA3BA;
  color: white;
  vertical-align: center;
  border-radius: 1.5em;
}

#y-icon-holder {
  width: 9.2em;
  height: 100%;
  padding-left: 2em;
  margin-top: 15em;
}

.x-account-tile,
.x-feature-tile,
#banner-idea-1,
#recent-transactions-table {
  box-shadow: .1em .3em .69em .1em rgba(0,0,0,5%);
  border-radius: .4em;
}

/* specific id's */

#vertical-navbar {
  width: 10em;
  height: 100%;
  background-color: #ffffff;
  opacity: 50%;
}

#banner-idea-1 {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  display: block;
  margin-left: 12em;
  width: 55em;
  height: 8em;
  border-radius: .4em;
  /* animation: disappearSomehow onclick */
}

#recent-transactions-table {
  background-color: gray;
  float: right;
  display: inline-block;

}
